".source.js":
	"A.test.getInitialGlobalState":
		"prefix":"A-test-getInitialGlobalState"
		"body":"A.test.getInitialGlobalState()"
".source.js":
	"A.test.getWhitelistedVariables":
		"prefix":"A-test-getWhitelistedVariables"
		"body":"A.test.getWhitelistedVariables()"
".source.js":
	"A.test.addWaitFor":
		"prefix":"A-test-addWaitFor"
		"body":"A.test.addWaitFor(expected, testFunction, callback)"
".source.js":
	"A.test.addWaitForAction":
		"prefix":"A-test-addWaitForAction"
		"body":"A.test.addWaitForAction(success, actionName, callback)"
".source.js":
	"A.test.addWaitForWithFailureMessage":
		"prefix":"A-test-addWaitForWithFailureMessage"
		"body":"A.test.addWaitForWithFailureMessage(expected, testFunction, failureMessage, callback)"
".source.js":
	"A.test.blockRequests":
		"prefix":"A-test-blockRequests"
		"body":"A.test.blockRequests()"
".source.js":
	"A.test.blockForegroundRequests":
		"prefix":"A-test-blockForegroundRequests"
		"body":"A.test.blockForegroundRequests()"
".source.js":
	"A.test.blockBackgroundRequests":
		"prefix":"A-test-blockBackgroundRequests"
		"body":"A.test.blockBackgroundRequests()"
".source.js":
	"A.test.releaseRequests":
		"prefix":"A-test-releaseRequests"
		"body":"A.test.releaseRequests()"
".source.js":
	"A.test.releaseForegroundRequests":
		"prefix":"A-test-releaseForegroundRequests"
		"body":"A.test.releaseForegroundRequests()"
".source.js":
	"A.test.releaseBackgroundRequests":
		"prefix":"A-test-releaseBackgroundRequests"
		"body":"A.test.releaseBackgroundRequests()"
".source.js":
	"A.test.getSentRequestCount":
		"prefix":"A-test-getSentRequestCount"
		"body":"A.test.getSentRequestCount()"
".source.js":
	"A.test.areActionsComplete":
		"prefix":"A-test-areActionsComplete"
		"body":"A.test.areActionsComplete(actions)"
".source.js":
	"A.test.addCleanup":
		"prefix":"A-test-addCleanup"
		"body":"A.test.addCleanup(cleanupFunction)"
".source.js":
	"A.test.getAction":
		"prefix":"A-test-getAction"
		"body":"A.test.getAction(component, name, params, callback)"
".source.js":
	"A.test.runActionsAsTransaction":
		"prefix":"A-test-runActionsAsTransaction"
		"body":"A.test.runActionsAsTransaction(actions, scope, callback)"
".source.js":
	"A.test.enqueueAction":
		"prefix":"A-test-enqueueAction"
		"body":"A.test.enqueueAction(action, background)"
".source.js":
	"A.test.getExternalAction":
		"prefix":"A-test-getExternalAction"
		"body":"A.test.getExternalAction(component, descriptor, params, returnType, callback)"
".source.js":
	"A.test.clearAndAssertComponentConfigs":
		"prefix":"A-test-clearAndAssertComponentConfigs"
		"body":"A.test.clearAndAssertComponentConfigs(a)"
".source.js":
	"A.test.isActionPending":
		"prefix":"A-test-isActionPending"
		"body":"A.test.isActionPending()"
".source.js":
	"A.test.callServerAction":
		"prefix":"A-test-callServerAction"
		"body":"A.test.callServerAction(action, doImmediate)"
".source.js":
	"A.test.setServerReachable":
		"prefix":"A-test-setServerReachable"
		"body":"A.test.setServerReachable(reachable)"
".source.js":
	"A.test.runAfterIf":
		"prefix":"A-test-runAfterIf"
		"body":"A.test.runAfterIf(conditionFunction, callback, intervalInMs)"
".source.js":
	"A.test.setTestTimeout":
		"prefix":"A-test-setTestTimeout"
		"body":"A.test.setTestTimeout(timeoutMsec)"
".source.js":
	"A.test.isComplete":
		"prefix":"A-test-isComplete"
		"body":"A.test.isComplete()"
".source.js":
	"A.test.getErrors":
		"prefix":"A-test-getErrors"
		"body":"A.test.getErrors()"
".source.js":
	"A.test.print":
		"prefix":"A-test-print"
		"body":"A.test.print(value)"
".source.js":
	"A.test.auraError":
		"prefix":"A-test-auraError"
		"body":"A.test.auraError(level, msg/*, error*/)"
".source.js":
	"A.test.expectAuraError":
		"prefix":"A-test-expectAuraError"
		"body":"A.test.expectAuraError(e)"
".source.js":
	"A.test.auraWarning":
		"prefix":"A-test-auraWarning"
		"body":"A.test.auraWarning(level, msg)"
".source.js":
	"A.test.expectAuraWarning":
		"prefix":"A-test-expectAuraWarning"
		"body":"A.test.expectAuraWarning(w)"
".source.js":
	"A.test.assertAccessible":
		"prefix":"A-test-assertAccessible"
		"body":"A.test.assertAccessible()"
".source.js":
	"A.test.assertTruthy":
		"prefix":"A-test-assertTruthy"
		"body":"A.test.assertTruthy(condition, assertMessage)"
".source.js":
	"A.test.assertFalsy":
		"prefix":"A-test-assertFalsy"
		"body":"A.test.assertFalsy(condition, assertMessage)"
".source.js":
	"A.test.assert":
		"prefix":"A-test-assert"
		"body":"A.test.assert(condition, assertMessage)"
".source.js":
	"A.test.assertEquals":
		"prefix":"A-test-assertEquals"
		"body":"A.test.assertEquals(arg1, arg2, assertMessage)"
".source.js":
	"A.test.assertEqualsIgnoreWhitespace":
		"prefix":"A-test-assertEqualsIgnoreWhitespace"
		"body":"A.test.assertEqualsIgnoreWhitespace(arg1, arg2, assertMessage)"
".source.js":
	"A.test.assertStartsWith":
		"prefix":"A-test-assertStartsWith"
		"body":"A.test.assertStartsWith(start, full, assertMessage)"
".source.js":
	"A.test.assertNotEquals":
		"prefix":"A-test-assertNotEquals"
		"body":"A.test.assertNotEquals(arg1, arg2, assertMessage)"
".source.js":
	"A.test.assertDefined":
		"prefix":"A-test-assertDefined"
		"body":"A.test.assertDefined(condition, assertMessage)"
".source.js":
	"A.test.assertTrue":
		"prefix":"A-test-assertTrue"
		"body":"A.test.assertTrue(condition, assertMessage)"
".source.js":
	"A.test.assertFalse":
		"prefix":"A-test-assertFalse"
		"body":"A.test.assertFalse(condition, assertMessage)"
".source.js":
	"A.test.assertUndefined":
		"prefix":"A-test-assertUndefined"
		"body":"A.test.assertUndefined(condition, assertMessage)"
".source.js":
	"A.test.assertNotUndefinedOrNull":
		"prefix":"A-test-assertNotUndefinedOrNull"
		"body":"A.test.assertNotUndefinedOrNull(condition, assertMessage)"
".source.js":
	"A.test.assertUndefinedOrNull":
		"prefix":"A-test-assertUndefinedOrNull"
		"body":"A.test.assertUndefinedOrNull(condition, assertMessage)"
".source.js":
	"A.test.assertNull":
		"prefix":"A-test-assertNull"
		"body":"A.test.assertNull(condition, assertMessage)"
".source.js":
	"A.test.assertNotNull":
		"prefix":"A-test-assertNotNull"
		"body":"A.test.assertNotNull(condition, assertMessage)"
".source.js":
	"A.test.assertAuraType":
		"prefix":"A-test-assertAuraType"
		"body":"A.test.assertAuraType(type, condition, assertMessage)"
".source.js":
	"A.test.fail":
		"prefix":"A-test-fail"
		"body":"A.test.fail(assertMessage, extraInfoMessage)"
".source.js":
	"A.test.getPrototype":
		"prefix":"A-test-getPrototype"
		"body":"A.test.getPrototype(instance)"
".source.js":
	"A.test.overrideFunction":
		"prefix":"A-test-overrideFunction"
		"body":"A.test.overrideFunction(instance, name, newFunction)"
".source.js":
	"A.test.addFunctionHandler":
		"prefix":"A-test-addFunctionHandler"
		"body":"A.test.addFunctionHandler(instance, name, newFunction, postProcess)"
".source.js":
	"A.test.getOuterHtml":
		"prefix":"A-test-getOuterHtml"
		"body":"A.test.getOuterHtml(node)"
".source.js":
	"A.test.getText":
		"prefix":"A-test-getText"
		"body":"A.test.getText(node)"
".source.js":
	"A.test.getTextByComponent":
		"prefix":"A-test-getTextByComponent"
		"body":"A.test.getTextByComponent(component)"
".source.js":
	"A.test.getStyle":
		"prefix":"A-test-getStyle"
		"body":"A.test.getStyle(elem, style)"
".source.js":
	"A.test.getNonCommentNodes":
		"prefix":"A-test-getNonCommentNodes"
		"body":"A.test.getNonCommentNodes(nodes)"
".source.js":
	"A.test.isNodeDeleted":
		"prefix":"A-test-isNodeDeleted"
		"body":"A.test.isNodeDeleted(node)"
".source.js":
	"A.test.select":
		"prefix":"A-test-select"
		"body":"A.test.select()"
".source.js":
	"A.test.contains":
		"prefix":"A-test-contains"
		"body":"A.test.contains(testString, targetString)"
".source.js":
	"A.test.compareValues":
		"prefix":"A-test-compareValues"
		"body":"A.test.compareValues(expected, actual)"
".source.js":
	"A.test.getActiveElement":
		"prefix":"A-test-getActiveElement"
		"body":"A.test.getActiveElement()"
".source.js":
	"A.test.getActiveElementText":
		"prefix":"A-test-getActiveElementText"
		"body":"A.test.getActiveElementText()"
".source.js":
	"A.test.walkTheDOM":
		"prefix":"A-test-walkTheDOM"
		"body":"A.test.walkTheDOM(node, func)"
".source.js":
	"A.test.getElementsByClassNameCustom":
		"prefix":"A-test-getElementsByClassNameCustom"
		"body":"A.test.getElementsByClassNameCustom(className, parentElement)"
".source.js":
	"A.test.findChildWithClassName":
		"prefix":"A-test-findChildWithClassName"
		"body":"A.test.findChildWithClassName(parentElement, className)"
".source.js":
	"A.test.getElementByClass":
		"prefix":"A-test-getElementByClass"
		"body":"A.test.getElementByClass(classname)"
".source.js":
	"A.test.fireDomEvent":
		"prefix":"A-test-fireDomEvent"
		"body":"A.test.fireDomEvent(element, eventName, canBubble, cancelable)"
".source.js":
	"A.test.clickOrTouch":
		"prefix":"A-test-clickOrTouch"
		"body":"A.test.clickOrTouch(element, canBubble, cancelable)"
".source.js":
	"A.test.isInstanceOfText":
		"prefix":"A-test-isInstanceOfText"
		"body":"A.test.isInstanceOfText(node)"
".source.js":
	"A.test.isInstanceOfAnchorElement":
		"prefix":"A-test-isInstanceOfAnchorElement"
		"body":"A.test.isInstanceOfAnchorElement(element)"
".source.js":
	"A.test.isInstanceOfInputElement":
		"prefix":"A-test-isInstanceOfInputElement"
		"body":"A.test.isInstanceOfInputElement(element)"
".source.js":
	"A.test.isInstanceOfLiElement":
		"prefix":"A-test-isInstanceOfLiElement"
		"body":"A.test.isInstanceOfLiElement(element)"
".source.js":
	"A.test.isInstanceOfParagraphElement":
		"prefix":"A-test-isInstanceOfParagraphElement"
		"body":"A.test.isInstanceOfParagraphElement(element)"
".source.js":
	"A.test.isInstanceOfButtonElement":
		"prefix":"A-test-isInstanceOfButtonElement"
		"body":"A.test.isInstanceOfButtonElement(element)"
".source.js":
	"A.test.isInstanceOfImageElement":
		"prefix":"A-test-isInstanceOfImageElement"
		"body":"A.test.isInstanceOfImageElement(element)"
".source.js":
	"A.test.isInstanceOfDivElement":
		"prefix":"A-test-isInstanceOfDivElement"
		"body":"A.test.isInstanceOfDivElement(element)"
".source.js":
	"A.test.isInstanceOfSpanElement":
		"prefix":"A-test-isInstanceOfSpanElement"
		"body":"A.test.isInstanceOfSpanElement(element)"
".source.js":
	"A.test.isInstanceOf":
		"prefix":"A-test-isInstanceOf"
		"body":"A.test.isInstanceOf(element, elementType, tag)"
".source.js":
	"A.test.objectKeys":
		"prefix":"A-test-objectKeys"
		"body":"A.test.objectKeys(obj)"
".source.js":
	"A.test.getElementAttributeValue":
		"prefix":"A-test-getElementAttributeValue"
		"body":"A.test.getElementAttributeValue(element, attributeName)"
".source.js":
	"A.test.addEventHandler":
		"prefix":"A-test-addEventHandler"
		"body":"A.test.addEventHandler(eventName, handler, component, insert)"
".source.js":
	"A.test.dummyFunction":
		"prefix":"A-test-dummyFunction"
		"body":"A.test.dummyFunction()"
".source.js":
	"A.test.getAppCacheEvents":
		"prefix":"A-test-getAppCacheEvents"
		"body":"A.test.getAppCacheEvents()"
".source.js":
	"A.test.getAuraErrorMessage":
		"prefix":"A-test-getAuraErrorMessage"
		"body":"A.test.getAuraErrorMessage()"
".source.js":
	"A.test.getAvailableXHROverride":
		"prefix":"A-test-getAvailableXHROverride"
		"body":"A.test.getAvailableXHROverride(config, isBackground)"
".source.js":
	"A.test.sendOverride":
		"prefix":"A-test-sendOverride"
		"body":"A.test.sendOverride(config, auraXHR, actions, method, options)"
".source.js":
	"A.test.decodeOverride":
		"prefix":"A-test-decodeOverride"
		"body":"A.test.decodeOverride(config, response, noStrip)"
".source.js":
	"A.test.PrePostConfig":
		"prefix":"A-test-PrePostConfig"
		"body":"A.test.PrePostConfig(action, preSendCallback, postSendCallback)"
".source.js":
	"A.test.addPrePostSendCallback":
		"prefix":"A-test-addPrePostSendCallback"
		"body":"A.test.addPrePostSendCallback(action, preSendCallback, postSendCallback)"
".source.js":
	"A.test.removePrePostSendCallback":
		"prefix":"A-test-removePrePostSendCallback"
		"body":"A.test.removePrePostSendCallback(handle)"
".source.js":
	"A.test.install":
		"prefix":"A-test-install"
		"body":"A.test.install()"
".source.js":
	"A.test.run":
		"prefix":"A-test-run"
		"body":"A.test.run(name, code, timeoutOverride, quickFixException)"
".source.js":
	"A.test.runInternal":
		"prefix":"A-test-runInternal"
		"body":"A.test.runInternal(name)"
".source.js":
	"A.test.executeAfterCkEditorIsReady":
		"prefix":"A-test-executeAfterCkEditorIsReady"
		"body":"A.test.executeAfterCkEditorIsReady(inputRichTextComponent, callback)"
".source.js":
	"A.test.reloadGlobalValueProviders":
		"prefix":"A-test-reloadGlobalValueProviders"
		"body":"A.test.reloadGlobalValueProviders(gvp, callback)"
".source.js":
	"A.test.getCreationPath":
		"prefix":"A-test-getCreationPath"
		"body":"A.test.getCreationPath(cmp)"
".source.js":
	"A.test.createHttpRequest":
		"prefix":"A-test-createHttpRequest"
		"body":"A.test.createHttpRequest()"
".source.js":
	"A.test.checkGlobalNamespacePollution":
		"prefix":"A-test-checkGlobalNamespacePollution"
		"body":"A.test.checkGlobalNamespacePollution()"
".source.js":
	"A.util.isIOSWebView":
		"prefix":"A-util-isIOSWebView"
		"body":"A.util.isIOSWebView()"
".source.js":
	"A.util.globalEval":
		"prefix":"A-util-globalEval"
		"body":"A.util.globalEval(src)"
".source.js":
	"A.util.isArray":
		"prefix":"A-util-isArray"
		"body":"A.util.isArray()"
".source.js":
	"A.util.isObject":
		"prefix":"A-util-isObject"
		"body":"A.util.isObject(obj)"
".source.js":
	"A.util.isPlainObject":
		"prefix":"A-util-isPlainObject"
		"body":"A.util.isPlainObject(obj)"
".source.js":
	"A.util.isError":
		"prefix":"A-util-isError"
		"body":"A.util.isError(obj)"
".source.js":
	"A.util.isFunction":
		"prefix":"A-util-isFunction"
		"body":"A.util.isFunction(obj)"
".source.js":
	"A.util.isString":
		"prefix":"A-util-isString"
		"body":"A.util.isString(obj)"
".source.js":
	"A.util.isNumber":
		"prefix":"A-util-isNumber"
		"body":"A.util.isNumber(obj)"
".source.js":
	"A.util.isFiniteNumber":
		"prefix":"A-util-isFiniteNumber"
		"body":"A.util.isFiniteNumber(obj)"
".source.js":
	"A.util.isBoolean":
		"prefix":"A-util-isBoolean"
		"body":"A.util.isBoolean(obj)"
".source.js":
	"A.util.isUndefined":
		"prefix":"A-util-isUndefined"
		"body":"A.util.isUndefined(obj)"
".source.js":
	"A.util.isUndefinedOrNull":
		"prefix":"A-util-isUndefinedOrNull"
		"body":"A.util.isUndefinedOrNull(obj)"
".source.js":
	"A.util.isEmpty":
		"prefix":"A-util-isEmpty"
		"body":"A.util.isEmpty(obj)"
".source.js":
	"A.util.getBooleanValue":
		"prefix":"A-util-getBooleanValue"
		"body":"A.util.getBooleanValue(val)"
".source.js":
	"A.util.createHtmlElement":
		"prefix":"A-util-createHtmlElement"
		"body":"A.util.createHtmlElement(tagName, attributes)"
".source.js":
	"A.util.clearNode":
		"prefix":"A-util-clearNode"
		"body":"A.util.clearNode(node)"
".source.js":
	"A.util.getElement":
		"prefix":"A-util-getElement"
		"body":"A.util.getElement(id)"
".source.js":
	"A.util.copy":
		"prefix":"A-util-copy"
		"body":"A.util.copy(value)"
".source.js":
	"A.util.compareValues":
		"prefix":"A-util-compareValues"
		"body":"A.util.compareValues(expected, actual)"
".source.js":
	"A.util.hasClass":
		"prefix":"A-util-hasClass"
		"body":"A.util.hasClass(element, className)"
".source.js":
	"A.util.addClass":
		"prefix":"A-util-addClass"
		"body":"A.util.addClass(element, newClass)"
".source.js":
	"A.util.removeClass":
		"prefix":"A-util-removeClass"
		"body":"A.util.removeClass(element, newClass)"
".source.js":
	"A.util.toggleClass":
		"prefix":"A-util-toggleClass"
		"body":"A.util.toggleClass(element, className, condition)"
".source.js":
	"A.util.swapClass":
		"prefix":"A-util-swapClass"
		"body":"A.util.swapClass(element, oldClass, newClass)"
".source.js":
	"A.util.setClass":
		"prefix":"A-util-setClass"
		"body":"A.util.setClass(element,newClass,remove)"
".source.js":
	"A.util.buildClass":
		"prefix":"A-util-buildClass"
		"body":"A.util.buildClass(oldClass, newClass, remove)"
".source.js":
	"A.util.buildFlavorClass":
		"prefix":"A-util-buildFlavorClass"
		"body":"A.util.buildFlavorClass(cmp, flavor)"
".source.js":
	"A.util.createElementsFromMarkup":
		"prefix":"A-util-createElementsFromMarkup"
		"body":"A.util.createElementsFromMarkup(markup)"
".source.js":
	"A.util.insertFirst":
		"prefix":"A-util-insertFirst"
		"body":"A.util.insertFirst(newEl, referenceEl)"
".source.js":
	"A.util.insertBefore":
		"prefix":"A-util-insertBefore"
		"body":"A.util.insertBefore(newEl, referenceEl)"
".source.js":
	"A.util.insertAfter":
		"prefix":"A-util-insertAfter"
		"body":"A.util.insertAfter(newEl, referenceEl)"
".source.js":
	"A.util.appendChild":
		"prefix":"A-util-appendChild"
		"body":"A.util.appendChild(newEl, referenceEl)"
".source.js":
	"A.util.removeElement":
		"prefix":"A-util-removeElement"
		"body":"A.util.removeElement(element)"
".source.js":
	"A.util.urlDecode":
		"prefix":"A-util-urlDecode"
		"body":"A.util.urlDecode(url)"
".source.js":
	"A.util.trim":
		"prefix":"A-util-trim"
		"body":"A.util.trim(value)"
".source.js":
	"A.util.format":
		"prefix":"A-util-format"
		"body":"A.util.format(formatString,arg1,arg2,argN)"
".source.js":
	"A.util.truncate":
		"prefix":"A-util-truncate"
		"body":"A.util.truncate(st, len, ellipsis, truncateByWord)"
".source.js":
	"A.util.createTimeoutCallback":
		"prefix":"A-util-createTimeoutCallback"
		"body":"A.util.createTimeoutCallback(callback, toleranceMillis)"
".source.js":
	"A.util.on":
		"prefix":"A-util-on"
		"body":"A.util.on(element, eventName, handler, useCapture, timeout)"
".source.js":
	"A.util.removeOn":
		"prefix":"A-util-removeOn"
		"body":"A.util.removeOn(element, eventName, listener, useCapture)"
".source.js":
	"A.util.formToMap":
		"prefix":"A-util-formToMap"
		"body":"A.util.formToMap(form)"
".source.js":
	"A.util.getSelectValue":
		"prefix":"A-util-getSelectValue"
		"body":"A.util.getSelectValue(select)"
".source.js":
	"A.util.addValueToMap":
		"prefix":"A-util-addValueToMap"
		"body":"A.util.addValueToMap(inputMap, key, value)"
".source.js":
	"A.util.addMapValueToMap":
		"prefix":"A-util-addMapValueToMap"
		"body":"A.util.addMapValueToMap(inputMap, key, value, subMapKey)"
".source.js":
	"A.util.isSubDef":
		"prefix":"A-util-isSubDef"
		"body":"A.util.isSubDef(def, qname)"
".source.js":
	"A.util.apply":
		"prefix":"A-util-apply"
		"body":"A.util.apply(/* Object|Function */ baseObject, /* Object|Function*/ members, /* bool */ forceCopy, /* bool */ deepCopy)"
".source.js":
	"A.util.camelCaseToHyphens":
		"prefix":"A-util-camelCaseToHyphens"
		"body":"A.util.camelCaseToHyphens(str)"
".source.js":
	"A.util.hyphensToCamelCase":
		"prefix":"A-util-hyphensToCamelCase"
		"body":"A.util.hyphensToCamelCase(str)"
".source.js":
	"A.util.acceptsData":
		"prefix":"A-util-acceptsData"
		"body":"A.util.acceptsData(element)"
".source.js":
	"A.util.getElementAttributeValue":
		"prefix":"A-util-getElementAttributeValue"
		"body":"A.util.getElementAttributeValue(element,attributeName)"
".source.js":
	"A.util.getDataAttribute":
		"prefix":"A-util-getDataAttribute"
		"body":"A.util.getDataAttribute(element, key)"
".source.js":
	"A.util.setDataAttribute":
		"prefix":"A-util-setDataAttribute"
		"body":"A.util.setDataAttribute(element, key, value)"
".source.js":
	"A.util.getDataAttributeName":
		"prefix":"A-util-getDataAttributeName"
		"body":"A.util.getDataAttributeName(key)"
".source.js":
	"A.util.hasDataAttribute":
		"prefix":"A-util-hasDataAttribute"
		"body":"A.util.hasDataAttribute(element, key)"
".source.js":
	"A.util.isElement":
		"prefix":"A-util-isElement"
		"body":"A.util.isElement(obj)"
".source.js":
	"A.util.attachToDocumentBody":
		"prefix":"A-util-attachToDocumentBody"
		"body":"A.util.attachToDocumentBody(element)"
".source.js":
	"A.util.stringEndsWith":
		"prefix":"A-util-stringEndsWith"
		"body":"A.util.stringEndsWith(fullstr, substr)"
".source.js":
	"A.util.bind":
		"prefix":"A-util-bind"
		"body":"A.util.bind(method /*, this, bind arguments*/)"
".source.js":
	"A.util.keys":
		"prefix":"A-util-keys"
		"body":"A.util.keys(object, excludeFunctions)"
".source.js":
	"A.util.lookup":
		"prefix":"A-util-lookup"
		"body":"A.util.lookup(object /*, var-args of arrays*/)"
".source.js":
	"A.util.merge":
		"prefix":"A-util-merge"
		"body":"A.util.merge(first /*, var-args of arrays*/)"
".source.js":
	"A.util.forEach":
		"prefix":"A-util-forEach"
		"body":"A.util.forEach(array, method, that)"
".source.js":
	"A.util.map":
		"prefix":"A-util-map"
		"body":"A.util.map(array, method, that)"
".source.js":
	"A.util.reduce":
		"prefix":"A-util-reduce"
		"body":"A.util.reduce(array, method, initial)"
".source.js":
	"A.util.every":
		"prefix":"A-util-every"
		"body":"A.util.every(array, predicate, that)"
".source.js":
	"A.util.some":
		"prefix":"A-util-some"
		"body":"A.util.some(array, predicate, that)"
".source.js":
	"A.util.filter":
		"prefix":"A-util-filter"
		"body":"A.util.filter(array, predicate, that)"
".source.js":
	"A.util.destroyAsync":
		"prefix":"A-util-destroyAsync"
		"body":"A.util.destroyAsync(cmp)"
".source.js":
	"A.util.instanceOf":
		"prefix":"A-util-instanceOf"
		"body":"A.util.instanceOf(instance, constructor)"
".source.js":
	"A.util.emptyComponentTrash":
		"prefix":"A-util-emptyComponentTrash"
		"body":"A.util.emptyComponentTrash()"
".source.js":
	"A.util.contains":
		"prefix":"A-util-contains"
		"body":"A.util.contains(container, element)"
".source.js":
	"A.util.squash":
		"prefix":"A-util-squash"
		"body":"A.util.squash(event, preventDefault)"
".source.js":
	"A.util.stripTags":
		"prefix":"A-util-stripTags"
		"body":"A.util.stripTags(input, tags)"
".source.js":
	"A.util.getWindowSize":
		"prefix":"A-util-getWindowSize"
		"body":"A.util.getWindowSize()"
".source.js":
	"A.util.isComponent":
		"prefix":"A-util-isComponent"
		"body":"A.util.isComponent(obj)"
".source.js":
	"A.util.isExpression":
		"prefix":"A-util-isExpression"
		"body":"A.util.isExpression(obj)"
".source.js":
	"A.util.isValue":
		"prefix":"A-util-isValue"
		"body":"A.util.isValue(obj)"
".source.js":
	"A.util.isAction":
		"prefix":"A-util-isAction"
		"body":"A.util.isAction(obj)"
".source.js":
	"A.util.supportsTouchEvents":
		"prefix":"A-util-supportsTouchEvents"
		"body":"A.util.supportsTouchEvents()"
".source.js":
	"A.util.estimateSize":
		"prefix":"A-util-estimateSize"
		"body":"A.util.estimateSize(obj)"
".source.js":
	"A.util.toArray":
		"prefix":"A-util-toArray"
		"body":"A.util.toArray(collection)"
".source.js":
	"A.util.setText":
		"prefix":"A-util-setText"
		"body":"A.util.setText(node, text)"
".source.js":
	"A.util.getDebugToolComponent":
		"prefix":"A-util-getDebugToolComponent"
		"body":"A.util.getDebugToolComponent()"
".source.js":
	"A.util.getDebugToolsAuraInstance":
		"prefix":"A-util-getDebugToolsAuraInstance"
		"body":"A.util.getDebugToolsAuraInstance()"
".source.js":
	"A.util.setDebugToolWindow":
		"prefix":"A-util-setDebugToolWindow"
		"body":"A.util.setDebugToolWindow(debugWindow)"
".source.js":
	"A.util.getUrl":
		"prefix":"A-util-getUrl"
		"body":"A.util.getUrl()"
".source.js":
	"A.util.getText":
		"prefix":"A-util-getText"
		"body":"A.util.getText(node)"
".source.js":
	"A.util.errorBasedOnMode":
		"prefix":"A-util-errorBasedOnMode"
		"body":"A.util.errorBasedOnMode(msg)"
".source.js":
	"A.util.includeScript":
		"prefix":"A-util-includeScript"
		"body":"A.util.includeScript(url, callback)"
